name: overlay_dialog
description: A Flutter package for showing platform dialogs without using new routes.
version: 0.2.1
homepage: https://github.com/mera-company/flutter-overlay-dialog

environment:
  sdk: ">=2.12.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  universal_io: ^2.0.4

dev_dependencies:
  flutter_test:
    sdk: flutter

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:
